{
  "presets": [
    ["babel-preset-env", {
      "targets": {
        "browsers": ["> 1%", "last 10 versions"]
      },
      "modules": false
    }]
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import"
  ]
}